---
#========================================================================
# Copyright Universidade Federal do Espirito Santo (Ufes)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# 
# This program is released under license GNU GPL v3+ license.
#
#========================================================================

services:
  # web app
  boca-web:
    image: ghcr.io/odiador/boca-web:latest
    depends_on:
      - boca-db
    environment:
      - BOCA_DB_HOST=${BOCA_DB_HOST:-boca-db}
      - BOCA_DB_USER=${BOCA_DB_USER}
      - BOCA_DB_PASSWORD=${BOCA_DB_PASSWORD}
      - BOCA_DB_SUPER_USER=${BOCA_DB_SUPER_USER}
      - BOCA_DB_SUPER_PASSWORD=${BOCA_DB_SUPER_PASSWORD}
      - BOCA_DB_NAME=${BOCA_DB_NAME}
      - BOCA_PASSWORD=${BOCA_PASSWORD}
      - BOCA_KEY=${BOCA_KEY}
      - BOCA_SKIP_SAFEEXEC=${BOCA_SKIP_SAFEEXEC:-true}
    ports:
      - "8000:80"
    volumes:
      - jail-data:/bocajail/tmp
    restart: unless-stopped

  # online judge
  boca-jail:
    image: ghcr.io/odiador/boca-jail:latest
    depends_on:
      - boca-db
    privileged: true
    environment:
      - BOCA_DB_HOST=${BOCA_DB_HOST:-boca-db}
      - BOCA_DB_USER=${BOCA_DB_USER}
      - BOCA_DB_PASSWORD=${BOCA_DB_PASSWORD}
      - BOCA_DB_SUPER_USER=${BOCA_DB_SUPER_USER}
      - BOCA_DB_SUPER_PASSWORD=${BOCA_DB_SUPER_PASSWORD}
      - BOCA_DB_NAME=${BOCA_DB_NAME}
      - BOCA_PASSWORD=${BOCA_PASSWORD}
      - BOCA_KEY=${BOCA_KEY}
      - BOCA_SKIP_SAFEEXEC=${BOCA_SKIP_SAFEEXEC:-true}
    volumes:
      - jail-data:/bocajail/tmp
      - ./fix-jail.sh:/docker-entrypoint-initdb.d/fix-jail.sh
    restart: unless-stopped

  # database
  boca-db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_PASSWORD=${BOCA_DB_SUPER_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
  jail-data:
